.cart {
  border: 1px solid #cecece;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.cart:hover {
  cursor: pointer;
}

.info {
 padding: 15px;
}

.img {
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  grid-auto-columns: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
